{% extends "main/base.html" %}

{% block title %}Detail Workout{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row"></div>
    <br/>
    <div class = "row">
        <div class="col-md-1 col-xs-1 col-sm-1"></div>
        <div class="col-md-8 col-xs-8 col-sm-8">
            <p class="h2">
                {{object.exid}}
            </p>
        </div>
        <div class="col-md-1 col-xs-1 col-sm-1">
            <a href="{% url 'workouts:edit' object.pk %}">
                <button type="button" class="btn btn-info">
                    <i class="fa fa-pencil"></i>
                </button>
            </a>
        </div>
        <div class="col-md-1 col-xs-1 col-sm-1">
            <a href="{% url 'workouts:delete' object.pk %}">
                <button type="button" class="btn btn-danger">
                    <i class="fa fa-trash-o"></i>
                </button>
            </a>
        </div>
        <div class="col-md-1 col-xs-1 col-sm-1"></div>
    </div>

    <div class = "row">
        <table class="table  table-hover table-bordered">
            <tbody>
                {% if object.exid.types == 'W' %}
                    <tr>                    
                        <td>Повторов:</td>
                        <td>{{object.c1}}</td>
                    </tr>
                {% endif %}

                {% if object.exid.types == 'WW' %}
                    <tr>                    
                        <td>Повторов:</td>
                        <td>{{object.c1}}</td>
                    </tr>
                    <tr>
                        <td>Вес:</td>
                        <td>{{object.w1}}</td>
                    </tr>
                {% endif %}

                {% if object.exid.types == 'LR' %}
                <tr>                    
                    <td>Повторов левой:</td>
                    <td>{{object.c1}}</td>
                </tr>
                <tr>
                    <td>Повторов правой:</td>
                    <td>{{object.c2}}</td>
                </tr>
                {% endif %}

                {% if object.exid.types == 'LRW' %}
                <tr>                    
                    <td>Повторов левой:</td>
                    <td>{{object.c1}}</td>
                </tr>
                <tr>                    
                    <td>Вес левый:</td>
                    <td>{{object.w1}}</td>
                </tr>
                <tr>
                    <td>Повторов правой:</td>
                    <td>{{object.c2}}</td>
                </tr>
                <tr>
                    <td>Вес правый:</td>
                    <td>{{object.w2}}</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}